# =========================================================
# Arduino / PlatformIO
# =========================================================

Arduino/.pio/
Arduino/.vscode/

# =========================================================
# STM32CubeIDE / Eclipse
# =========================================================

STM32_Nucleo_F446RE/.settings/
STM32_Nucleo_F446RE/Debug/
STM32_Nucleo_F446RE/Release/
STM32_Nucleo_F446RE/*.launch
